@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body{
	font-family: 'Lato', sans-serif;
}
*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
li{
	list-style: none;
}
a{
	color: inherit;
}
a:link,
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
input,
button,
textarea{
	font-size: inherit;
	font-family: inherit;
}
button{
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
body{
	line-height: 1;
}
.article{
	max-width: 810px;
	margin: 5px auto;
}
.title{
	font-weight: 900;
	font-size: 46px;
	line-height: 60px;
	color: #1E212C;
	margin-bottom: 40px;
}
.article-img{
	border-radius: 4px;
	margin-bottom: 60px;
	max-width: 100%;
}
.subtitle{
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1E212C;
}
.text p, ul {
	font-size: 16px;
	margin: 24px 0px;
	color: #424551;
	line-height: 1.6;
}
.quot{
	margin: 48px 0px;
	color: #1E212C;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	padding-left: 58px;
}
li{
	padding-left: 16px;
}
.training{
	max-width: 1230px;
	margin: 0 auto;
}
.headline{
	background-color: black;
	border-radius: 20px;
	box-shadow: 10px 15px 10px 15px;
	margin-bottom: 60px;
}
.headline-link{
	color: white;
	display: inline-block;
	padding: 50px 20px 0;
}
.headline-title{
	display: inline-block;
	color: white;
	font-weight: 900;
	font-size: 60px;
	max-width: 50%;
	padding: 50px 20px 0
}
.headline-img{
	max-width: 600px;
	padding-bottom: 5px;
}
.podcast{
	max-width: 810px;
	margin: 0 auto
}
.podcast-list{
	border-bottom: 3px double;
}
.podcast-text{
	max-height: 500px;
	overflow: auto;
}
.podcast-text h2{
	margin-bottom: 24px;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.4;
}
.podcast-text p,blockquote{
	line-height: 28px;
	margin-bottom: 15px;
}
.podcast-img{
	max-width: 100%;
	border-radius: 4px;
	margin-bottom: 40px;
}